<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://simplecheckin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>simplecheckin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>simplecheckin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$simplecheckin</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SimpleCheckInContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:u0qjoxmitf.database.windows.net,1433;Initial Catalog=simplecheckin_db;User ID=webapi@u0qjoxmitf;Password=KvLayout123" Name="Data Source=tcp:u0qjoxmitf.database.windows.net,1433;Initial Catalog=simplecheckin_db;User Id=webapi@u0qjoxmitf;Password=KvLayout123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SimpleCheckIn.Models.SimpleCheckInContext, SimpleCheckIn" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SimpleCheckInContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:u0qjoxmitf.database.windows.net,1433;Initial Catalog=simplecheckin_db;User Id=webapi@u0qjoxmitf;Password=KvLayout123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>